.explore-page {
    background-color: #f4f4f4;
    padding: 20px;
    width: 100%;
    min-height: 100vh;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  .tourism-place img {
    width: 80%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
  }
  
  .tourism-place img:hover {
    transform: scale(1.05);
  }
  
  
  .sidebar h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 15px 0;
    cursor: pointer;
    padding: 10px;
  }
  
  .sidebar ul li.active {
    font-weight: bold;
    color: blue;
  }
  
  .content {
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
  }
  
  #explore-page .trend {
    font-size: 28px;
    margin: 20px 0 20px 0;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    color: #333;
  }
  
  .tourism-place {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding-bottom: 15px;
  }
  
  .tourism-place h2 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  
  .tourism-place p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #666;
  }
  
  .tourism-place a {
    font-size: 16px;
    color: blue;
    text-decoration: underline;
    transition: color 0.3s;
  }
  
  .tourism-place a:hover {
    color: darkblue;
  }
  
  .tourism-place .hot{
  font-size: 28px;
  margin: 20px 0 20px 0;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  color: red;
  font-weight: bold;
  background: linear-gradient(90deg, #ff4500, #ff8c00, #ffd700);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}