<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/p.css">
    <link rel="stylesheet" href="../../public/css/all.min.css">
</head>
<body>
    <div class="profile-page">
        <div class="profile-header">
          <img src="../../public/images/post1.jpg" alt="Cover Photo" class="profile-cover">
          <div class="profile-info">
            <img src="../../public/images/profile.jpg" alt="Profile Picture" class="profile-pic">
            <h2>Abenezer Birhanu</h2>
            <p class="username">@abenezerbirhanu</p>
            <div class="profile-stats">
              <div>
                <h3>204</h3>
                <p>Following</p>
              </div>
              <div>
                <h3>1.2M</h3>
                <p>Followers</p>
              </div>
            </div>
            <p class="profile-bio">Hi I’m Skye! ✨ Lisbon, Portugal based 📍 Travel + drone videographer ✈️ Follow my adventures!</p>
            <div class="profile-actions">
              <button class="btn follow-btn">Follow</button>
              <button class="btn message-btn"><i class="fas fa-paper-plane" style="color: rgb(193, 39, 28); font-size: larger;"></i></button>
            </div>
          </div>
        </div>
        <div class="profile-gallery">
          <img src="../../public/images/post1.jpg" alt="Photo 1">
          <img src="../../public/images/post3.jpg" alt="Photo 1">
          <img src="../../public/images/post1.jpg" alt="Photo 1">
          <img src="../../public/images/post2.jpg" alt="Photo 1">
          
        </div>
      </div>
      
</body>
</html>